@tailwind base;
@tailwind components;
@tailwind utilities;


  /* Transition pour les boutons Mantine */
button {
    transition: background-color 0.2s ease;
  }
  
  /* Styles personnalisés pour les notifications */
  .mantine-Notification-root {
    @apply shadow-md;
  }
  
  
  
  .navLinkActive {
    background-color: rgb(59 130 246);
    font-weight: 500;
  }